.accordion {
 border: 1px solid var(--secondary-color);
 border-radius: 10px;
 overflow: hidden;
}

.accordion.small {
 max-width: 500px;
}

.accordion.medium {
 max-width: var(--content-width);
}

.accordion .header {
 padding: 10px;
 background-color: var(--primary-color);
 font-weight: bold;
 cursor: pointer;
 position: relative;
 padding-right: 20px;
 border-bottom: 1px solid var(--secondary-color);
}

.accordion .body {
 height: 0px;
 overflow: hidden;
 transition: height 0.3s ease-in-out;
}

.accordion .body.open {
 height: auto;
}

.accordion .inner {
 padding: 10px;
}

.accordion .caret {
 position: absolute;
 right: 10px;
 top: 50%;
 width: 15px;
 transform: translateY(-50%) rotate(0deg);
 transition: transform 0.3s ease-in-out;
}

.accordion .caret.open {
 transform: translateY(-50%) rotate(180deg);
}
