.buttons {
 display: flex;
 gap: 5px;
}

.buttons.middle {
 justify-content: center;
}

.button {
 display: flex;
 align-items: center;
 padding: 8px;
 border-radius: 10px;
 font-weight: bold;
 border: 1px solid var(--secondary-color);
}

.button.primary {
 background-color: var(--primary-color);
 color: var(--secondary-color);
}

.button.secondary {
 background-color: var(--secondary-color);
 color: #FFF;
}

.button img {
 height: 20px;
 padding-right: 10px;
}
