.button {
 display: inline-block;
 gap: 5px;
 padding: 8px;
 margin: 4px;
 border-radius: 10px;
 font-weight: bold;
 border: 1px solid var(--secondary-color);
}

.button.primary {
 background-color: var(--primary-color);
 color: var(--secondary-color);
}

.button.secondary {
 background-color: var(--secondary-color);
 color: #fff;
}

.button img {
 vertical-align: center;
 height: 20px;
 padding-right: 10px;
}

/*
#content .share-button {
 display: inline-flex;
 flex-direction: row;
 margin: 0 auto 20px auto;
}

#content .share-button .text-center {
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 height: 100%;
}

#content .share-button .image {
 margin-right: 10px;
 width: auto;
 height: 100%;
 align-items: stretch;
 display: flex;
}
*/
