.button {
 display: inline-block;
 gap: 5px;
 padding: 8px;
 margin: 4px;
 border-radius: 10px;
 font-weight: bold;
 border: 1px solid var(--secondary-color);
}

.button.primary {
 background-color: var(--primary-color);
 color: var(--secondary-color);
}

.button.secondary {
 background-color: var(--secondary-color);
 color: #fff;
}

.button img {
 vertical-align: center;
 height: 20px;
 padding-right: 10px;
}
