**/node_modules/
**/build/
**/.svelte-kit/
**/.vite-cache/
frontend/build/
frontend/tests/
backend/data/
backend/tests/
data/
app/
cli/
docker/config/
docker/storage/
docker/certs/
*.log
*.stackdump
*.bun-build
**/*.lish
**/*.lishnet
**/settings.json
**/peer-id.json
**/datastore/
.git/
.github/
.vscode/
.idea/
**/.env
**/.env.*
**/*.local
**/*.local.json
**/*.local.neon
**/*.local.yaml
**/*.local.toml
coverage/
target/
