**/node_modules/
**/build/
**/.svelte-kit/
**/.vite-cache/
frontend/build/
backend/data/
data/
app/binaries/
app/icons/
app/gen/
docker/config/
docker/storage/
docker/certs/
*.log
*.stackdump
*.bun-build
**/*.lish
**/*.lishnet
**/settings.json
**/peer-id.json
**/datastore/
.git/
