**/node_modules/
**/build/
app/binaries/
app/icons/
app/gen/
app/core
**/*.crt
**/*.key
frontend/.svelte-kit/
backend/data
.secret_git
bun.lockb
bun.lockb.txt
package-lock.json
**/settings.json
**/peer-id.json
**/datastore/
**/*.lish
**/*.lishnet
vite.config.js.timestamp-*
.dev_intention
**/.idea/
**/cert.pem
**/key.pem
