.git/
src/node_modules/
.idea/
src/web/files/*
src/web/img/categories/*
src/web/img/products/*
src/web/tmp/*
src/package-lock.json
src/bun.lockb
src/settings.json.bak
src/settings.json
src/*.log
.secret_git
/mycommit.sh
/xshare.sql
/xshare_db.sql
/src/web/admin/PHP-OLD/
/src/web/PHP-OLD/
