**/node_modules/
**/build/
**/*.crt
**/*.key
frontend/.svelte-kit/
.secret_git
bun.lockb
bun.lockb.txt
package-lock.json
**/settings.json
**/peer-id.json
**/datastore/
**/*.lish
**/*.lishnet
vite.config.js.timestamp-*
.dev_intention
**/.idea/copilot*
