{
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"singleAttributePerLine": false,
	"printWidth": 10000,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"quoteProps": "as-needed",
	"embeddedLanguageFormatting": "auto",
	"proseWrap": "preserve",
	"jsxSingleQuote": false,
	"svelteSortOrder": "scripts-options-styles-markup",
	"plugins": ["prettier-plugin-svelte", "@prettier/plugin-xml"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.svg",
			"options": {
				"parser": "xml",
				"xmlWhitespaceSensitivity": "ignore",
				"xmlSelfClosingSpace": true,
				"xmlSortAttributesByKey": false,
				"xmlQuoteAttributes": "double"
			}
		}
	]
}
