.captch {
 display: flex;
 flex-direction: row;
 align-items: flex-end;
}

.captch .reload-icon {
 width: 32px;
 height: auto;
 margin-bottom: 128px;
 margin-left: 4px;
 cursor: pointer;
}

#captcha-container {
 margin-top: 3px;
}

#captcha-container .modal-footer {
 padding: 12px;
}

#captcha-container .modal-footer button {
 font-weight: bold;
 font-size: 16px;
 padding: 8px;
 margin-right: 10px;
 background-color: var(--primary-color);
 border-radius: 10px;
 border: 10px solid var(--secondary-color);
}
