.captcha {
 display: flex;
 align-items: center;
}

.captcha .captcha__reload-button {
 width: 25px;
 height: auto;
 cursor: pointer;
}

#captcha-code {
 margin-right: 10px;
}

#captcha-container .modal-footer {
 padding: 12px;
}

#captcha-container .modal-footer button {
 font-weight: bold;
 font-size: 16px;
 padding: 8px;
 margin-right: 10px;
 background-color: var(--primary-color);
 border-radius: 10px;
 border: 10px solid var(--secondary-color);
}
