.form {
 display: flex;
 flex-direction: column;
}

.form .label {
 margin-left: 5px;
 margin-top: 7px;
 margin-bottom: 2px;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}