[Desktop Entry]
Categories=Network;FileTransfer;
Exec=libershare --debug
StartupWMClass=libershare
Icon=libershare
Name=LiberShare - debug
Comment=Launch LiberShare in debug mode (opens a backend debug console window)
Terminal=false
Type=Application
