{
	"productName": "{{PRODUCT_NAME_LOWER}}",
	"mainBinaryName": "{{PRODUCT_NAME_LOWER}}",
	"bundle": {
		"resources": {
			"../backend/build/lish-backend": "./lish-backend"
		},
		"linux": {
			"deb": {
				"depends": ["pkexec", "libsystemd0", "libasound2t64 | libasound2", "libglib2.0-0t64 | libglib2.0-0"],
				"recommends": ["libpulse0"],
				"desktopTemplate": "desktop-entry.desktop",
				"files": {
					"/usr/share/applications/{{PRODUCT_NAME_LOWER}}-debug.desktop": "desktop-entry-debug.desktop",
					"/usr/libexec/libershare/lish-network-helper": "../backend/build/lish-network-helper",
					"/usr/share/polkit-1/actions/org.libersoft.libershare.network.policy": "polkit/org.libersoft.libershare.network.policy"
				}
			},
			"rpm": {
				"depends": ["polkit", "systemd-libs", "alsa-lib", "glib2"],
				"recommends": ["pulseaudio-libs"],
				"desktopTemplate": "desktop-entry.desktop",
				"files": {
					"/usr/share/applications/{{PRODUCT_NAME_LOWER}}-debug.desktop": "desktop-entry-debug.desktop",
					"/usr/libexec/libershare/lish-network-helper": "../backend/build/lish-network-helper",
					"/usr/share/polkit-1/actions/org.libersoft.libershare.network.policy": "polkit/org.libersoft.libershare.network.policy"
				}
			},
			"appimage": {
				"files": {
					"usr/share/applications/{{PRODUCT_NAME_LOWER}}-debug.desktop": "desktop-entry-debug.desktop"
				}
			}
		}
	}
}
