@font-face {
 font-family: 'Ubuntu';
 src: url('/font/Ubuntu-R.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Ubuntu';
 src: url('/font/Ubuntu-RI.ttf') format('truetype');
 font-weight: normal;
 font-style: italic;
}

@font-face {
 font-family: 'Ubuntu';
 src: url('/font/Ubuntu-B.ttf') format('truetype');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'Ubuntu';
 src: url('/font/Ubuntu-BI.ttf') format('truetype');
 font-weight: bold;
 font-style: italic;
}

body {
 font-family: Ubuntu;
}

:root {
 --content-width: 800px;
 --header-height: 50px;
}

body {
 margin: 0;
 background: url('/img/background.svg') repeat;
 background-size: 240px;
}

a {
 cursor: pointer;
 font-weight: bold;
 text-decoration: none;
 color: var(--secondary-color);
}

hr {
 border-top: 0;
 border-bottom: 1px solid var(--secondary-color);
}

table {
 border: 1px solid var(--secondary-color);
 border-radius: 10px;
 border-spacing: 0;
 overflow: hidden;
 width: 100%;
}

table th,
table td {
 padding: 10px;
}

table th {
 text-align: left;
}

table thead tr {
 background-color: var(--secondary-color);
 color: #FFF;
}

table tbody tr:nth-child(odd) {
 background-color: var(--primary-color-light);
}

table tbody tr:nth-child(even) {
 background-color: var(--primary-color-lighter);
}

table tbody tr:hover {
 background-color: var(--primary-color);
}

table tbody tr[onclick] {
 cursor: pointer;
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='email'],
select,
textarea {
 padding: 8px;
 border: 1px solid var(--secondary-color);
 border-radius: 10px;
}

input[type='file'] {
 display: none;
}

.bold {
 font-weight: bold;
}

.font-normal {
 font-weight: normal;
}

.file-table-row div {
 margin-bottom: 8px;
}

.center {
 margin: 0 auto;
}

.text-center {
 text-align: center;
}

.text-right {
 text-align: right;
}

.shadow {
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.separator {
 height: 15px;
}

.detail {
 display: flex;
 flex-direction: column;
 text-align: center;
}

.detail .image {
 width: 100%;
 max-width: 100%;
 border: 1px solid var(--secondary-color);
 border-radius: 10px;
}

.nowrap {
 white-space: nowrap;
}

.icon-invert {
 filter: invert(1);
}

.notfound {
 font-size: 28px;
 font-weight: bold;
 margin-bottom: 15px;
}

/*
.need-logout,
.need-login {
 border-radius: 10px;
 cursor: pointer;
 user-select: none;
}

@media (min-width: 800px) {
 .need-logout:hover,
 .need-login:hover {
  background-color: var(--primary-color-darker);
 }
}

@media (max-width: 800px) {
 .need-logout a,
 .need-login a {
  width: 100%;
 }
}

.hidden-important {
 display: none !important;
}

.flex-important {
 display: flex !important;
}

#registration,
#login {
 overflow-x: hidden;
}

.forum-content {
 padding: 16px 10px;
}

#contact .form-group {
 display: flex;
 flex-direction: column;
 margin-bottom: 5px;
 margin-top: 5px;
}
*/
