#header {
 z-index: 100;
 position: fixed;
 display: flex;
 align-items: center;
 top: 0;
 gap: 5px;
 width: 100%;
 height: var(--header-height);
 background-color: var(--primary-color);
}

#header .menu-toggler {
 display: none;
 height: 20px;
 padding: 10px;
}

#header .logo {
 padding-left: 10px;
 padding-right: 10px;
 max-width: 160px;
}

#header .search {
 width: 170px;
 background-image: url('/img/search.svg');
 background-repeat: no-repeat;
 background-position: right 10px center;
 background-size: 20px 20px;
}

@media (max-width: 1300px) {
 #header .menu-toggler {
  display: block;
 }

 #header .logo {
  max-width: 100px;
  padding-left: 0;
 }
}
