#content {
 position: fixed;
 top: var(--header-height);
 width: calc(100%);
 height: calc(100% - var(--header-height));
 overflow: auto;
 padding: 15px 10px;
 color: var(--secondary-color);
 box-sizing: border-box;
 background: url('/img/background.svg') repeat;
 background-size: 240px;
}
