#content {
 position: fixed;
 top: var(--header-height);
 width: calc(100%);
 height: calc(100% - var(--header-height));
 overflow: auto;
 padding: 15px 10px;
 color: var(--secondary-color);
 box-sizing: border-box;
 background: url('/img/background.svg') repeat;
 background-size: 240px;
}

#content .button {
 margin-right: 10px;
 padding: 8px;
 border-radius: 10px;
 font-weight: bold;
 border: 1px solid var(--secondary-color);
 background-color: var(--primary-color);
 color: var(--secondary-color);
}

#content img {
 width: 24px;
}

#content .files.center td .button {
 padding: 4px;
 margin-right: 0;
}

#content .share-button {
 display: inline-flex;
 flex-direction: row;
 margin: 0 auto 20px auto;
}

#content .share-button .text-center {
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 height: 100%;
}

#content .share-button .image {
 margin-right: 10px;
 width: auto;
 height: 100%;
 align-items: stretch;
 display: flex;
}

#content .separator {
 height: 15px;
}

#content .arrow {
 position: absolute;
 right: 5px;
 top: 50%;
 transform: translateY(-50%) rotate(0deg);
 transition: transform 0.3s ease-in-out;
 fill: #000;
}

#content .product {
 display: flex;
 flex-direction: column;
 text-align: center;
}

#content .product .image {
 width: 100%;
 max-width: 100%;
 border: 1px solid var(--secondary-color);
 border-radius: 10px;
}

#content .files {
 user-select: none;
}

#content .files th div {
 display: flex;
}

#content .files th div .button:hover {
 background-color: var(--primary-color-darker);
}
