#menu-desktop {
 display: flex;
 flex-grow: 1;
 justify-content: space-between;
}

#menu-desktop .left,
#menu-desktop .right {
 display: flex;
 width: auto;
 height: auto;
 left: 0;
}

#menu-desktop .right {
 display: flex;
 gap: 0.625rem;
 flex: 1;
 justify-content: end;

 align-items: center;
}

#menu-desktop .item {
 display: flex;
 align-items: center;
 padding: 0.625rem;
 gap: 0.3125rem;
 border-radius: 0.625rem;
}

#menu-desktop .item.active {
 background-color: var(--primary-color-dark);
}

#menu-desktop .item:hover {
 background-color: var(--primary-color-darker);
}

/*
#menu-desktop {
 display: none;
}

#menu-desktop .left {
 display: none;
}
*/

#menu-mobile {
 z-index: 50;
 position: fixed;
 transition: transform 0.3s ease-in-out;
 transform: translateX(-110%);
 flex-direction: column;
 margin-top: var(--header-height);
 width: 18.75rem;
 height: 100%;
 overflow-y: auto;
 background-color: #f0f0f0;
}

#menu-mobile .item {
 display: flex;
 padding: 0.625rem;
 gap: 0.3125rem;
}

#menu-mobile .item img {
 height: 1.5rem;
}

#menu-mobile .item.active {
 background-color: #d0d0d0;
}

#menu-mobile .item:hover {
 background-color: #c0c0c0;
}

#menu-mobile .right {
 flex-direction: column;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
}

#menu-mobile .button {
 margin-top: 0.3125rem;
 padding: 0.25rem;
 margin-left: 0.625rem;
 border-radius: 0.625rem;
 border: 0.0625rem solid var(--secondary-color);
 display: block;
}

#menu-mobile .button :hover {
 background-color: var(--secondary-color-light);
}

#menu-mobile .right {
 display: none;
}

#menu-overlay {
 transform: translateX(-100%);
 z-index: 25;
 position: fixed;
 top: var(--header-height);
 width: 100%;
 height: calc(100% - var(--header-height));
 background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 90.0625rem) {
 #menu-mobile {
  display: none;
 }

 #menu-overlay {
  display: none;
 }
}

@media (max-width: 90rem) {
 #header .menu-toggler {
  display: block;
 }

 #menu-desktop .left {
  display: none;
 }
}

.menu-username {
 user-select: none;
}
