#header {
 z-index: 100;
 position: fixed;
 display: flex;
 align-items: center;
 top: 0;
 padding: 0 10px;
 gap: 10px;
 width: calc(100% - 20px);
 height: var(--header-height);
 background-color: var(--primary-color);
}

#header img {
 height: 24px;
}

#header .menu-toggler {
 display: none;
 padding: 10px;
}

#header .search {
 background-image: url('../img/search.svg');
 background-repeat: no-repeat;
 background-position: right 10px center;
 background-size: 20px 20px;
}
