:root {
 --header-height: 3.125rem;
 --primary-color: hsl(49, 97%, 53%);
 --primary-color-lighter: hsl(49, 97%, 80%);
 --primary-color-light: hsl(49, 97%, 93%);
 --primary-color-darker: hsl(49, 97%, 46%);
 --primary-color-dark: hsl(49, 97%, 40%);
 --secondary-color: hsl(345, 6%, 13%);
 --secondary-color-light: hsl(345, 6%, 63%);
 --content-width: 50rem;
}

body {
 margin: 0;
}

a {
 cursor: pointer;
 font-weight: bold;
 text-decoration: none;
 color: var(--secondary-color);
}

hr {
 border-top: 0;
 border-bottom: 0.0625rem solid var(--secondary-color);
}

table {
 border: 0.0625rem solid var(--secondary-color);
 border-radius: 0.625rem;
 border-spacing: 0;
 overflow: hidden;
 width: 100%;

 & th,
 & td {
  padding: 0.625rem;
 }

 & th {
  text-align: left;
 }

 & thead tr {
  background-color: var(--secondary-color);
  color: #fff;
 }

 & tbody {
  & tr:nth-child(odd) {
   background-color: var(--primary-color-light);
  }

  & tr:nth-child(even) {
   background-color: var(--primary-color-lighter);
  }

  & tr:hover {
   background-color: var(--primary-color);
  }

  & tr[onclick] {
   cursor: pointer;
  }
 }
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='email'],
textarea {
 padding: 0.5rem;
 border: 0.0625rem solid var(--secondary-color);
 border-radius: 0.625rem;
}

input[type='search'] {
 margin-left: 0.625rem;
}

input[type='file'] {
 display: none;
}

.bold {
 font-weight: bold;
}

.font-normal {
 font-weight: normal;
}

.file-table-row {
 & div {
  margin-bottom: 0.5rem;
 }
}

.center {
 margin: 0 auto;

 & .float-right {
  text-align: right;
  margin: 0.3125rem 0;
 }
}

.text-center {
 text-align: center;
}

.shadow {
 box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.75);
}

.loader {
 margin: 0 auto;
 width: 3.125rem;
 height: 3.125rem;
 border-radius: 50%;
 background:
  radial-gradient(farthest-side, var(--secondary-color) 94%, transparent) top/0.5rem 0.5rem no-repeat,
  conic-gradient(transparent 30%, var(--secondary-color));
 -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 0.5rem), var(--secondary-color) 0);
 animation: loader 1s infinite linear;
}

.notice {
 padding: 0.625rem;
 border: 0.0625rem solid var(--secondary-color);
 border-radius: 0.625rem;

 &.red {
  background-color: #fdd;
  color: #600000;
 }

 &.green {
  background-color: #bfb;
  color: #004000;
 }
}

.captch {
 display: flex;
 flex-direction: row;
 align-items: flex-end;
 & .reload-icon {
  width: 2rem;
  height: auto;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  cursor: pointer;
 }
}

@keyframes loader {
 100% {
  transform: rotate(1turn);
 }
}

.scrollbar {
 scrollbar-color: var(--secondary-color) var(--secondary-color-light);
 scrollbar-width: thin;

 &::-webkit-scrollbar {
  width: 0.625rem;
  background-color: var(--secondary-color-light);
 }

 &::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.3125rem;
 }
}

#header {
 z-index: 100;
 position: fixed;
 display: flex;
 align-items: center;
 top: 0;
 padding: 0 0.625rem;
 gap: 0.625rem;
 width: calc(100% - 1.25rem);
 height: var(--header-height);
 background-color: var(--primary-color);

 & img {
  height: 1.5rem;
 }

 & .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.625rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: #fff;
 }

 & .menu-toggler {
  display: none;
  padding: 0.625rem;
 }
}

#menu-desktop {
 display: flex;
 flex-grow: 1;
 justify-content: space-between;

 & .left,
 & .right {
  display: flex;
  width: auto;
  height: auto;
  left: 0;
 }

 & .right {
  display: flex;
  gap: 0.625rem;
  flex: 1;
  justify-content: end;
 }

 & .item {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  gap: 0.3125rem;
  border-radius: 0.625rem;

  &.active {
   background-color: var(--primary-color-dark);
  }

  &:hover {
   background-color: var(--primary-color-darker);
  }
 }
}

#menu-mobile {
 z-index: 50;
 position: fixed;
 transition: transform 0.3s ease-in-out;
 transform: translateX(-110%);
 flex-direction: column;
 margin-top: var(--header-height);
 width: 18.75rem;
 height: 100%;
 overflow-y: auto;
 background-color: #f0f0f0;

 & .item {
  display: flex;
  padding: 0.625rem;
  gap: 0.3125rem;

  & img {
   height: 1.5rem;
  }

  &.active {
   background-color: #d0d0d0;
  }

  &:hover {
   background-color: #c0c0c0;
  }
 }
}

#content {
 position: fixed;
 top: var(--header-height);
 width: calc(100%);
 height: calc(100% - var(--header-height));
 overflow: auto;
 padding: 0.9375rem 0.625rem;
 color: var(--secondary-color);
 box-sizing: border-box;
 background: url('../img/background.svg') repeat;
 background-size: 15rem;

 & .button {
  margin-right: 0.625rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
  font-weight: bold;
  border: 0.0625rem solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);

  & img {
   width: 1.5rem;
  }
 }

 & .files.center td .button {
  padding: 0.25rem;
  margin-right: 0rem;
 }

 .share-button {
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto 1.25rem auto;

  & .text-center {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   height: 100%;

   & .image {
    margin-right: 0.625rem;
    width: auto;
    height: 100%;
    align-items: stretch;
    display: flex;
   }
  }
 }

 & .separator {
  height: 0.9375rem;
 }

 & .card {
  border: 0.0625rem solid var(--secondary-color);
  border-radius: 0.625rem;
  overflow: hidden;

  &.small {
   max-width: 31.25rem;
  }

  &.medium {
   max-width: var(--content-width);
  }

  & .header {
   padding: 0.625rem;
   font-weight: bold;
   background-color: var(--primary-color);
  }

  & .body {
   padding: 0.625rem;
   background-color: #f0f0f0;
   display: flex;
   flex-direction: column;
  }
 }

 & .accordion {
  border: 0.0625rem solid var(--secondary-color);
  border-radius: 0.625rem;
  overflow: hidden;

  & .header {
   padding: 0.625rem;
   background-color: var(--primary-color);
   font-weight: bold;
   cursor: pointer;
   position: relative;
   padding-right: 1.25rem;
  }

  & .body {
   height: 0;
   overflow: hidden;
   padding: 0 !important;
   transition: height 0.3s ease-in-out;

   & .inner-body {
    padding: 0.625rem;
   }
  }
 }

 & .arrow {
  position: absolute;
  right: 0.3125rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease-in-out;
  fill: #000;
 }

 & .breadcrumb {
  margin: 0;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background-color: var(--secondary-color);
  color: #fff;

  & li {
   display: inline;
   font-size: 1rem;
   font-weight: bold;

   &:not(:first-child)::before {
    padding: 0.5rem;
    content: '>';
   }

   & a {
    color: #ccc;
   }
  }
 }

 & .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9375rem;

  & .item {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 15.625rem;
   max-width: 25rem;
   overflow: hidden;
   border: 0.0625rem solid var(--secondary-color);
   border-radius: 0.625rem;
   transition-duration: 0.3s;
   background-color: #fff;

   &:hover {
    transform: scale(1.05);
   }

   & img {
    display: block;
    width: 100%;
    height: auto;
   }

   & .text {
    position: absolute;
    white-space: normal;
    bottom: 0;
    left: 0;
    padding: 0.3125rem;
    width: calc(100% - 0.625rem);
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
   }
  }
 }

 & .product {
  display: flex;
  flex-direction: column;
  text-align: center;

  & .image {
   max-width: 100%;
   border: 0.0625rem solid var(--secondary-color);
   border-radius: 0.625rem;
  }
 }
}

#footer {
 padding: 1.25rem;
 max-width: var(--content-width);
 margin-left: auto;
 margin-right: auto;
}

@media (max-width: 50rem) {
 #header {
  & .menu-toggler {
   display: block;
  }
 }

 #menu-mobile {
  & .right {
   flex-direction: column;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
  }

  & .button {
   margin-top: 0.3125rem;
   padding: 0.25rem;
   margin-left: 0.625rem;
   border-radius: 0.625rem;
   border: 0.0625rem solid var(--secondary-color);
   display: block;

   &:hover {
    background-color: var(--secondary-color-light);
   }
  }
 }

 #menu-desktop {
  display: none;
 }
}

@media (min-width: 50rem) and (max-width: 90rem) {
 #header {
  & .menu-toggler {
   display: block;
  }
 }

 #menu-mobile {
  & .right {
   display: none;
  }
 }

 #menu-desktop {
  & .left {
   display: none;
  }
 }
}

@media (min-width: 90.0625rem) {
 #menu-mobile {
  display: none !important;
 }

 #menu-overlay {
  display: none !important;
 }
}

#menu-overlay {
 transform: translateX(-100%);
 z-index: 25;
 position: fixed;
 top: var(--header-height);
 width: 100%;
 height: calc(100% - var(--header-height));
 background-color: rgba(0, 0, 0, 0.85);
}

#demo-upload {
 background: var(--primary-color-light);
 border-radius: 0.625rem;
 border: 0.0625rem dashed var(--secondary-color);
 border-image: none;
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
}

#files {
 user-select: none;

 & th div {
  display: flex;

  & .button:hover {
   background-color: var(--primary-color-darker);
  }
 }
}

#login_modal {
 display: none;
 position: fixed;
 background-color: var(--primary-color-light);
 border-radius: 1.25rem;
 border: 0.125rem solid var(--secondary-color);
 box-sizing: border-box;
 margin: 0 auto;
 overflow: hidden;

 & .modal-dialog {
  display: flex;

  & .modal-header {
   display: flex;
   padding: 0.5rem;
   justify-content: space-between;
   background-color: var(--primary-color);

   & button {
    background: transparent;
    border: transparent;
    font-size: 2em;
    font-weight: bold;
   }
  }

  & .modal-title,
  & .modal-footer {
   margin: 0.25rem;
  }

  & .modal-body {
   margin: 0.75rem;

   & .mb-2 {
    margin-bottom: 0.625rem;
    user-select: none;
   }

   & .l-log,
   & .l-reg {
    user-select: none;
    color: #3e3ee8;
    cursor: pointer;
   }

   & .l-log {
    display: none;
   }

   & form {
    display: flex;
    flex-direction: column;

    & #captcha-container {
     margin-top: 0.1875rem;
    }
   }
  }

  & .modal-footer {
   padding: 0.75rem;

   & button {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5rem;
    margin-right: 0.625rem;
    background-color: var(--primary-color);
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--secondary-color);
   }
  }
 }
}

.menu-right {
 justify-content: center;
 align-items: center;
 display: flex;
}

.menu-username {
 user-select: none;
}

.need-logout,
.need-login {
 border-radius: 0.625rem;
 cursor: pointer;
 user-select: none;
}

@media (min-width: 50rem) {
 .need-logout:hover,
 .need-login:hover {
  background-color: var(--primary-color-darker);
 }
}

@media (max-width: 50rem) {
 .need-logout a,
 .need-login a {
  width: 100%;
 }
}

#modal-win {
 display: none;
 position: fixed;
 width: 100vw;
 height: 100vh;
 z-index: 100;
 justify-content: center;
 align-items: center;

 & .modal-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0000007f;
  display: flex;
  justify-content: center;
  align-items: center;

  & #modal-content {
   position: absolute;
   width: var(--content-width);
   min-width: 15rem;
   border-radius: 1.25rem;
   display: flex;
   flex-direction: column;
   background-color: white;
   overflow-x: hidden;
   max-height: 80vh;

   & #static-captcha {
    display: flex;
    flex-direction: column;

    & #captcha-container {
     display: block;
     border-radius: 0.625rem;
     height: 5em;
     width: 14em;
     border: 0.0625rem solid var(--secondary-color);
     margin: 0.625rem 0;
    }

    & #captcha-input {
     height: 2em;
     font-size: 1em;
     padding-left: 0.3125rem;
     display: flex;
    }
   }

   & .modal-header {
    display: flex;
    cursor: move;
    flex-grow: 1;
    justify-content: space-between;
    height: 2em;
    user-select: none;
    background-color: var(--primary-color);
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;

    & .modal-title {
     font-size: 1.2em;
     font-weight: bold;
     height: 1.2em;
     padding: 0.125rem;
     cursor: default;
    }

    & .modal-close {
     font-size: 1.6em;
     text-align: center;
     font-weight: bold;
     height: 1.2em;
     width: 1em;
     cursor: pointer;
    }
   }

   & .modal-body {
    overflow-y: auto;
    padding: 1em;
    user-select: none;

    & .toggle {
     color: #3e3ee8;
     cursor: pointer;
    }

    & .text-red {
     color: red;
    }

    & .alert-danger {
     display: none;
     color: red;
     margin-bottom: 1rem;
    }

    & #registration,
    & #login {
     display: grid;
     align-items: center;

     & .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.3125rem;
      margin-top: 0.3125rem;

      & label {
       margin-bottom: 0.3125rem;
       padding: 0.125rem;
      }

      & input {
       height: 2em;
       font-size: 1em;
       padding-left: 0.3125rem;
      }
     }
    }

    & .form-group-row {
     display: flex;
     flex-direction: row;
     margin-bottom: 0.3125rem;
     margin-top: 0.3125rem;

     & .form-inline {
      margin-left: 0.5rem;
     }
    }

    & .form-control {
     padding: 0.125rem;
    }
   }

   & button {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.625rem;
    font-weight: bold;
    font-size: 1em;
    border: 0.0625rem solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: max-content;
    cursor: pointer;
    user-select: none;
   }

   & button:hover {
    background-color: var(--primary-color-darker);
   }
  }
 }
}

#registration,
#login {
 overflow-x: hidden;
}

.hidden-important {
 display: none !important;
}

.flex-important {
 display: flex !important;
}

.forum-content {
 padding: 1rem 0.625rem;
}

#contact {
 & .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;

  & label {
   margin-bottom: 0.3125rem;
   padding: 0.125rem;
  }

  & input {
   height: 2em;
   font-size: 1em;
   padding-left: 0.3125rem;
  }
 }

 & .form-group-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;

  & .form-inline {
   margin-left: 0.5rem;
  }
 }

 & .form-control {
  padding: 0.125rem;
 }

 & .btn {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
  font-weight: bold;
  font-size: 1em;
  border: 0.0625rem solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: max-content;
  cursor: pointer;
  user-select: none;
 }

 & .btn:hover {
  background-color: var(--primary-color-darker);
 }
}
