:root {
	--primary-foreground: #fd1;
	--primary-softer-background: #550;
	--primary-soft-background: #440;
	--primary-background: #330;
	--primary-hard-background: #220;
	--primary-harder-background: #110;
	--secondary-foreground: #fff;
	--secondary-softer-background: #444;
	--secondary-soft-background: #333;
	--secondary-background: #222;
	--secondary-hard-background: #111;
	--secondary-harder-background: #000;
	--disabled-foreground: #888;
	--disabled-background: #222;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #111;
	cursor: none;
}

.cursor {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 5vh;
	height: 5vh;
	pointer-events: none;
}

.bold {
	font-weight: bold;
}
