:root {
	--primary-foreground: #fd1;
	--primary-softer-background: #550;
	--primary-soft-background: #440;
	--primary-background: #330;
	--primary-hard-background: #220;
	--primary-harder-background: #110;
	--secondary-foreground: #fff;
	--secondary-softer-background: #444;
	--secondary-soft-background: #333;
	--secondary-background: #222;
	--secondary-hard-background: #111;
	--secondary-harder-background: #000;
	--disabled-foreground: #888;
	--disabled-background: #222;
	--color-error: #e00;
	--color-warning: #da0;
	--color-success: #080;
	--status-idling-fg: #aaa;
	--status-idling-bg: #222;
	--status-downloading-fg: #0a0;
	--status-downloading-bg: #050;
	--status-uploading-fg: #08f;
	--status-uploading-bg: #024;
	--status-downloading-uploading-fg: #080;
	--status-downloading-uploading-bg: #020;
	--status-verifying-fg: #fa0;
	--status-verifying-bg: #420;
	--status-pending-verification-fg: #fe0;
	--status-pending-verification-bg: #750;
	--status-moving-fg: #c6f;
	--status-moving-bg: #306;
	--status-error-fg: #f44;
	--status-error-bg: #400;
	--mode-disabled-fg: #c33;
	--mode-disabled-bg: #222;
	--mode-download-fg: #0c0;
	--mode-download-bg: #142;
	--mode-upload-fg: #28f;
	--mode-upload-bg: #134;
	--mode-both-fg: #c8f;
	--mode-both-bg: #214;
	--font: 'Ubuntu', sans-serif;
	--font-mono: 'Ubuntu Mono', monospace;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: var(--font);
	background-color: #111;
	cursor: none;
}

.cursor {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

.bold {
	font-weight: bold;
}
