#header {
 z-index: 100;
 position: fixed;
 display: flex;
 align-items: center;
 top: 0;
 gap: 5px;
 width: 100%;
 height: var(--header-height);
 background-color: var(--primary-color);
}

#header .menu-toggler {
 display: none;
 height: 20px;
 padding: 10px;
}

#header .logo {
 padding-left: 10px;
 padding-right: 10px;
 max-width: 160px;
}

#header .search {
 display: flex;
 align-items: center;
 padding: 5px;
 border: 1px solid var(--secondary-color);
 border-radius: 10px;
 background-color: #FFFFFF;
}

#header .search .text {
 width: 170px;
 padding: 5px;
 border: 0;
 border-radius: 0;
}

#header .search .text:focus {
 outline: none;
}

#header .search .submit-button {
  display: flex;
}

#header .search img {
 margin-left: 5px;
 height: 24px;
}

@media (max-width: 1300px) {
 #header .menu-toggler {
  display: block;
 }

 #header .logo {
  max-width: 100px;
  padding-left: 0;
 }
}
