#menu-desktop {
 display: flex;
 flex-grow: 1;
 justify-content: space-between;
}

#menu-desktop .left,
#menu-desktop .right {
 display: flex;
 width: auto;
 height: auto;
 left: 0;
}

#menu-desktop .right {
 display: flex;
 flex: 1;
 justify-content: end;
 align-items: center;
}

#menu-desktop .item {
 display: flex;
 align-items: center;
 padding: 10px;
 gap: 5px;
 border-radius: 10px;
}

#menu-desktop .item.active {
 background-color: var(--primary-color-dark);
}

#menu-desktop .item:hover {
 background-color: var(--primary-color-darker);
}

#menu-desktop .item img {
 height: 24px;
}

#menu-mobile {
 z-index: 50;
 display: none;
 position: fixed;
 transition: transform 0.3s ease-in-out;
 transform: translateX(-110%);
 flex-direction: column;
 margin-top: var(--header-height);
 width: 300px;
 height: 100%;
 overflow-y: auto;
 background-color: #f0f0f0;
}

#menu-mobile .item {
 display: flex;
 padding: 10px;
 gap: 5px;
}

#menu-mobile .item img {
 height: 24px;
}

#menu-mobile .item.active {
 background-color: #d0d0d0;
}

#menu-mobile .item:hover {
 background-color: #c0c0c0;
}

#menu-mobile .right {
 flex-direction: column;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
}

#menu-mobile .button {
 margin-top: 5px;
 padding: 4px;
 margin-left: 10px;
 border-radius: 10px;
 border: 1px solid var(--secondary-color);
 display: block;
}

#menu-mobile .button :hover {
 background-color: var(--secondary-color-light);
}

#menu-mobile .right {
 display: none;
}

#menu-overlay {
 z-index: 25;
 display: none;
 position: fixed;
 top: var(--header-height);
 width: 100%;
 height: calc(100% - var(--header-height));
 transform: translateX(-100%);
 background-color: rgba(0, 0, 0, 0.85);
}

.menu-username {
 user-select: none;
}

@media (max-width: 1300px) {
 #menu-desktop .left {
  display: none;
 }

 #menu-desktop .item img {
  height: 20px;
 }

 #menu-desktop .item .label {
  display: none;
 }

 #menu-overlay {
  display: block;
 }
 
 #menu-mobile {
  display: block;
 }
}
